:root {
  font-family: "Nunito";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #494949;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* width: 100vw;
  height: 100vh; */
}

h1 {
  font-size: 24px;
}

.startpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  background-image: url("./assets/bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  width: 85%;
  position: absolute;
  top: 2rem;
}

.startpage-hr {
  border: 1.5px solid #494949;
  border-radius: 25px;
}

.startpage-h1 {
  font-size: 24px;
  font-weight: noraml;
  margin-bottom: 5px;
}

.logins {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.login-btn {
  margin-top: 1rem;
  background-image: url("./assets/arrow.svg");
  background-color: transparent;
  border-style: none;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 3rem;
  height: 2rem;
}

.form > h1 {
  align-self: flex-start;
}

.scanning {
  z-index: -1 !important;
}

.inner {
  z-index: -1 !important;
}

.input-field {
  font-size: 24px;
  font-style: italic;
  color: #494949;
  background-color: transparent;
  width: 85vw;
  border-style: none;
  border-bottom: 3px solid #494949;
}

.startpage-p {
  font-size: 18px;
  margin-top: 2rem;
  height: 60%;
  width: 75%;
  background-color: #494949;
  color: white;
  padding: 1.5rem;
  border-radius: 25px;
}

.start-btn {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  background-image: url("./assets/arrow-light.svg");
  background-color: transparent;
  border-style: none;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 3rem;
  height: 2rem;
}

.start {
  width: 300px;
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  display: flex;
  flex-direction: column;
}

.start > h1 {
  position: absolute;
  align-self: center;
  font-size: 18px;
}

.ok-btn {
  font-family: Nunito;
  position: absolute;
  align-self: center;
  z-index: 3;
  background-color: white;
  border-style: none;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 15px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

/* iNFO PAGE */

.info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* AR PAGE */

/* .container {
  margin: 20px;
  position: relative;
  overflow: hidden;
} */

/* .arOne {
  border: solid 3px red;
  width: 100vw;
  height: 100vh;
} */

.info-text {
  position: absolute;
  left: 40%;
  top: 20%;
  width: fit-content;
  background-color: white;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 15px;
  z-index: 1000;
}

/* VIDEO COMP */

.video-comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  object-fit: contain;
  background-color: black;
  z-index: 3;
}

.mindar-ui-overlay {
  /* display: none; */
  z-index: -1 !important;
}

.video-btn {
  font-family: Nunito;
  position: absolute;
  align-self: center;
  top: 30%;
  z-index: 3;
  background-color: white;
  border-style: none;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 15px;
}

.App {
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* video {
  aspect-ratio: 640 / 480 !important;
} */

#container0 {
  height: 100%;
  width: 100%;
}

#container1 {
  height: 100%;
  width: 100%;
}

#container2 {
  height: 100%;
  width: 100%;
}

#container3 {
  height: 100%;
  width: 100%;
}

#container4 {
  height: 100%;
  width: 100%;
}

.modal {
  position: fixed;
  margin: 1rem;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 100;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  padding: 0.7rem;
  width: 500px;
  background-color: #fff;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-header,
.modal-footer {
  padding: 0.5rem;
}

.modal-title {
  font-size: 24px;
  margin: 0;
}

.modal-body {
  padding: 0rem 0.5rem 0rem 0.5rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.modal-img {
  width: 70%;
}

.button-modal {
  all: unset;
  color: white;
  background-color: #5562d7;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  border-radius: 15px;
  z-index: 1000 !important;
}

.fas-h1 {
  color: white;
  margin: 1rem;
  font-size: 24px;
  font-weight: bold;
}
